@charset "utf-8";

.titleWrapper {
  margin: 0 auto;
  margin-top: 150px;
  padding: 15px;
  font-size: 40px;
  text-align: center;
  background-color: #000
}

.detailWrapper {
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 0;
  text-align: center;
  background-color: rgba(0,100,100, 0.9);
}

.subTitle {
  font-size: 25px;
}