@charset "utf-8";

.header {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  background-color: #000;
  width: 700px;
  height: 85px;
  border-bottom: solid 1px #ccc;
}

.logo {
  margin: 30px 395px 0 20px;
}

.fixed {
  position: fixed;
  top: 0px;
}

.menu {
  margin-top: 40px;
  display: flex;
}

.menuList {
  margin-right: 15px;
}
.menuList a {
  text-decoration: none;
}
.menuList a:visited,
.menuList a:hover,
.menuList a:active,
.menuList a:link {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin-left: 0px;
  }
  .menu {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    width: 100%;
    margin-left: 0px;
  }
  .menu {
    display: none;
  }
}