@charset "utf-8";

#root {
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  background-color: #000;
  width: 600px;
  height: 70px;
  border-bottom: solid 2px #6400DC;
  
  .logo {
    margin: 20px 150px 0 20px;
  }

  &.fixed {
    position: fixed;
    top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin-left: 0px;

    .menu {
      display: none;
    }
  }
}
@media only screen and (max-width: 480px) {
  .header {
    width: 100%;
    margin-left: 0px;

    .menu {
      display: none;
    }
  }
}

.contents {
  margin-top: 70px;
  position: absolute;
  z-index: 1;
  color: #fff;
}